{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
{% endblock %}
{% block  breadcrumb %}
    <li class="active">
        <a href="{{ app.request.attributes.get('_route') }}"><i class="fa fa-fw fa-bars"></i>Planning</a>
    </li>
{% endblock %}

{% block content %}
    <table
            class="table table-bordered table-hover table-striped"
            border="1"
            data-teacher-not-available-times="{{ constraints.teachersNotAvailableTimes }}"
            data-student-not-available-times="{{ constraints.studentNotAvailableTimes }}"
            data-teacher-max-hours-daily="{{ constraints.teachersMaxHoursDaily }}"
            >
        <thead>
            <tr>
                <th  style="width:20%">Jours/Scéance</th>
                {% for hour , activity in planning|first %}
                    <th style="width:{{ 80/(planning|length) }}%;height:30px;">{{ hour }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for day, hours in planning %}
                <tr id="{{ day }}" data-nb-activities="{{ nbActivityDaily[day] }}">
                    <td>{{ day }}</td>
                    {% for hour, activity in hours %}
                        <td {% if activity %}class="success"{% endif %}>
                            <div data-day="{{ day }}" data-hour="{{ hour }}" {% if activity %} data-student="{{ activity.niveau }}"{% endif %} class="{% if activity %}item{% else %}drop{% endif %}">
                                {% if activity %}
                                    {{ activity.element }}<br/>Nature : {{ activity.nature }} <br/>Niveau : {{ activity.niveau }}<br/> Salle : {{ activity.salle }}
                                {% endif %}
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        <tbody>
    </table>
{% endblock %}