{% extends 'base.html.twig' %}

{% block  breadcrumb %}
    <li class="active">
        <a href="{{ path('teachers_homepage') }}"><i class="fa fa-fw fa-users"></i> Enseigants</a>
    </li>
{% endblock %}

{% block content %}
    <div class=" pull-right">
        <a href="{{ path('teachers_create') }}" class="btn btn-primary"><span class="fa fa-plus" aria-hidden="true"></span>Créer</a>
    </div>
    <h1 class="page-header">Enseignants</h1>
    <div class="row">
        {% if teachers|length > 0 %}
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>CIN</th>
                    <th>Tél</th>
                    <th>Email</th>
                    <th>Adresse</th>
                </tr>
                </thead>
                <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>{{ teacher.lastName }}</td>
                        <td>{{ teacher.firstName }}</td>
                        <td>{{ teacher.cin }}</td>
                        <td>{{ teacher.tel }}</td>
                        <td>{{ teacher.email }}</td>
                        <td>{{ teacher.address }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="alert alert-info">Aucun enseignant</div>
        {% endif %}
    </div>
{% endblock %}